@{
    var ReporteCosechero = ViewData["DatosCosechero"] as Dictionary<string, uint>;
    var ReporteJefePacking = ViewData["DatosJefePacking"] as Dictionary<string, uint>;
}
<div class="container-fluid">

</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">

    </script>
}
