@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Packing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="https://kit.fontawesome.com/be7410e815.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <environment names="Development, Production">  
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@  
        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />  
        <script src="~/jqwidgets/jqxcore.js"></script>  
        <script src="~/jqwidgets/jqxdata.js"></script>  
    </environment>  
    <environment include="Development">  
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />  
        <link rel="stylesheet" href="~/css/site.css" />  
    </environment>  
    <environment exclude="Development">  
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"  
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"  
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />  
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
    </environment>  
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-warehouse"></i>&nbsp;Packing</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Cliente"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="far fa-list-alt"></i>&nbsp;Mis Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="VerCarro"><i class="fas fa-shopping-cart"></i>&nbsp;Ver Pedido actual</a>
                                </li>
                            }
                            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pedidos"><i class="far fa-list-alt"></i>&nbsp;Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ConfiguracionUsuario"><i class="fas fa-users"></i> &nbsp;Usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VistaProductos"><i class="fas fa-carrot"></i>&nbsp;Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Notificaciones" asp-action="Index"><i class="far fa-bell"></i>&nbsp;Notificaciones</a>
                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Packing
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Validadores.js"></script>
    <environment include="Development">  
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>  
        <script src="~/js/site.js" asp-append-version="true"></script>  
    </environment>  
    <environment exclude="Development">  
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"  
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"  
                asp-fallback-test="window.jQuery"  
                crossorigin="anonymous"  
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">  
        </script>  
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"  
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"  
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"  
                crossorigin="anonymous"  
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">  
        </script>  
        <script src="~/js/site.js" asp-append-version="true"></script>  
    </environment>  
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
