@page
@model Packing.Mvc.Areas.Identity.Pages.Account.Manage.UserEmpresaModel
@{
    ViewData["Title"] = "Administrar datos de la empresa";
    ViewData["ActivePage"] = ManageNavPages.EmpresaDatos;
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form id="empresa-form" method="post">
                <div class="form-group">
                    <label asp-for="NombreEmpresa"></label>
                    <input asp-for="NombreEmpresa" class="form-control" />
                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RazonSocial"></label>
                    <input asp-for="RazonSocial" class="form-control" />
                    <span asp-validation-for="RazonSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RutEmpresa"></label>
                    <input asp-for="RutEmpresa" class="form-control" disabled />
                    <span asp-validation-for="RutEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonaContacto">Persona de contacto</label>
                    <input asp-for="PersonaContacto" class="form-control" />
                    <span asp-validation-for="PersonaContacto" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="change-empresas-button" type="submit" asp-page-handler="UpdateDatos" class="btn btn-primary">Actualizar datos</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

