@using Packing.Mvc.Models.Empresas
@{
    var Presentacion = ViewData["Presentacion"] as Presentacion;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
    
    </script>
}
