@using Packing.Mvc.Models.Empresas
@{
    var Grupo = ViewData["Grupo"] as GrupoProducto;
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
