@using Packing.Mvc.Models.Empresas
@{
    var Formato = ViewData["Formato"] as Formato;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
